.idea
**/__pycache__/
data/pretrained_embeddings/*
!data/pretrained_embeddings/download_embeddings.sh
data/saved_models/*
!data/saved_models/download_models.sh
data/corpora/all_english/
data/corpora/iwpt/
